terratowns_endpoint="https://terratowns.cloud/api"
nasa = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/nasa"
  content_version = 1
}
cybersecurity = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/cybersecurity"
  content_version = 1
}