user_uuid = "a37f14c6-6234-4d83-988c-3d8473a2a8e6"
bucket_name = "chfscbsoaf1d5cqhpenbu83kdnribthg"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"